@{
    ViewBag.Title = "Projeto ASP.NET";
}

<div class="jumbotron">
    <h1>Página Inicial</h1>
    <p class="lead">Este projeto apresenta um escopo básico de um site que realiza cadastros, atualizações e exclusões de clientes físicos e clientes jurídicos.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            Nesta página é possivel visualizar todos os clientes cadastrados, tanto pessoas físicas quanto pessoas jurídicas.
        </p>
        <p><a class="btn btn-default" href="~/Views/clientes/Index.cshtml">Visualizar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes Físicos</h2>
        <p>Nesta aba serão visualizados apenas os clientes físicos cadastrados no sistema.</p>
        <p><a class="btn btn-default" href="~/Views/fisicas/Index.cshtml">Visualizar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes Jurídicos</h2>
        <p>Nesta aba serão visualizados apenas os cliente Jurídicos cadastrados no sistema..</p>
        <p><a class="btn btn-default" href="~/Views/juridicas/Index.cshtml">Visualizar &raquo;</a></p>
    </div>
</div>